@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(65, 236, 94, 0.7);
  --left-safa-hover-color: rgba(23, 170, 89, 0.3);
  --right-bg-color: rgba(86, 175, 235, 0.8);
  --right-safa-hover-color: rgba(201, 66, 48, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --grido: rgba(44, 49, 53, 0.8);
  --gridi: rgba(105, 137, 163, 0.8);
}



.slider {
  margin-top: 2;
}




.sidenav a{
  color: #fff;
}

.nav-wrapper img {
  height: 100px;
  width: 100px
}
.trip-advicer{
  height: 70px;
  width: 70px;
}

.carousel-item .overlay{
  background:  rgba(36, 43, 40, 0.5);
  padding: 20px;
  margin: 20px;
  border-bottom: #558b2f solid 3px;
  border-top: #fff solid 1px;
}

.slider .caption {
  background:  rgba(36, 43, 40, 0.5);
  padding: 20px;
  margin: 20px;
  border-bottom: #558b2f solid 3px;
  border-top: #fff solid 1px;
}

*{
  font-family: 'Comfortaa', cursive;
}
.language {
  color: #558b2f;
}

.language .fas {
  font-size: 40px;
}

/* Translate */


.goog-te-gadget-simple .goog-te-menu-value span{
  color: #25a890;
  font-weight: bold;
}
.goog-te-gadget-simple{
  display: block;
  height: 50px;
  width: 150px;
  padding: 1em;
  border-bottom: #558b2f solid 3px;
}
.translate{
  width: 120%;
  left: 50%;
  height: 0;
  margin-bottom: 70px;
  margin-top: 10px;
  
}
.section-stats {
  margin: 0;
  padding: 0;
}
.fa {
  color:#558b2f;
}

/* Tablets */

@media(max-width: 868px) {
  .brand-logo {
    width: 50px;
    height: 50px;
  }
  
}


/* Small screens logo */

@media(max-width: 560px) {

  .brand-logo {
    width: 50px;
    height: 50px;
  }

  .section-icons {
    display: none;
  }

  
  

  .navbar .navbar-brand img{
    
    width: 100px;
    display: none;
  }
  .navbar-fixed {
   overflow: hidden;
  }
  #wrapper {
    display: none;
  }
  .culture {
    border-radius: none;
    margin: 0;
  }
  
}

/* Particless effects */
.btext {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  width: 100%;
  line-height: 0.4em;
}

.main-section {
  margin: 0 auto;
  padding: 0;
}

.modal-content {
  background-color: #3b4652;
  opacity: 0.89;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #3b4652;
}

.user-img {
  margin-top: -50px;
  margin-bottom: 10px;
  margin-left: 72px;
}

.user-img img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #3b4652
}

.form-groupp {
  margin-bottom: 25px;
}

.form-groupp input {
  height: 42px;
  border-radius: 5px;
  border: #25a890 solid 2px;
  font-size: 18px;
  padding-left: 54px;
}

.form-groupp::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f007";
  position: absolute;
  font-size: 22px;
  color: #555e60;
  left: 28px;
  padding-top: 15px;
}

.form-groupp:last-of-type::before {
  content: "\f024";
}

button {
 
  margin: 5px 0 25px;
}
.bodypati {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}
.btnn {
  background-color: #27c2a5;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  border-bottom: 4px solid #219882;
}

.btn:hover,
.btn:focus {
  background-color: #25a890 !important;
  border-bottom: 4px solid #25a890 !important;
}

.fa-sign-in-alt:before {
  font-size: 20px;
  margin-right: 7px;
}

.forgot {
  padding: 10px 0 25px;
}

.forgot a {
  color: #3b4652;
}

#particles-js {
  background-image: url('../img/new2.jpeg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}
/* End of login section */


.clean {
  min-height: 95vh;
}

.rounded-circle{
 border-radius: 50%;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 35vw;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 35vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 35vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #33f15b;
}

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #558b2f;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

@media(max-width:768px) {
  body {
      font-size: 75%;
  }
}


/* End of spliter */




/* Preloader Booking section */
/* Spinner 1 */
.spinner-1:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 4px solid lightgray;
  border-top-color: #fdab00;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Spinner 2 */
.spinner-2:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Spinner 3 */
.spinner-3:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;

  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* End of preloader Booking section */





#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

.loader {
  position: absolute;
  top: 20%;
  left: 47%;
}

/* Material cards */

.margino {
  padding-top: 30px;
  margin: 0 auto;
}
.conn {
  min-height: 90vh;
}
.smarr{
  min-height: 130vh;
}
.three{
  min-height: 160vh;
}
.smar {
  min-height: 120vh;
}
.cadib {
  min-height: 110vh;
}
.cadibo {
  min-height: 135vh;
}

@media (max-width: 700px) {
  .boxi {
    grid-column: span 2;
  }
}

.section-search input {
  padding: 5px !important;
  font-size: 18 !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.containr {
  padding-right: 50px;
  padding-left: 50px;
}

/* CUlture */

.culture {
  background: #fdab00;
  text-align: center;
  padding: 20px 0 20px 0;
  color: red;
}

.h11 {
  color: #666;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

/* Contact and About Us */

.grido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background: url('../img/hotel12.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  width: 100%;
}


.grido:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--grido);
}

#section-d .boxi {
  padding: 2em;
  color: #fff;
  margin-top: 50px;
  z-index: 1;
  line-height: 1.6;
  font-size: 17px;
}

/* end contact and about us */

/* Bootsrup 4 Theme */

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(223, 39, 39, 0.7);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

/* Navbar Brand */

/* end */

/* hover state */

/* Material css */

.section-search input {
  padding: 5px !important;
  font-size: 18 !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

/* End Material css */

.navii li a:hover {
  border-bottom: #558b2f solid 3px;
  font-weight: bold;
}

/* End Hover State */


/* Destination Page */
.connii{
  min-height: 78vh;
}

/* Tips Page */


.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 3px solid #d2dbd3;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
  border: #33f15b solid 3px;
  font-weight: bold;
}

/* header showcase*/

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #33f15b url('../img/zeb1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/*section-a*/

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/*section-b*/

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/*section-c*/

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/*section-d*/

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

/*footer*/

#main-footer {
  padding: 2em;
  text-align: center;
  color: #558b2f
}

/*media queries*/



@media (min-width: 600px) {
  .section-popular h4{
    font-size: 13px;

  }
   .conte {
     width: 120%;
     padding-left: 20px;
     padding-right: 20px;
     margin: 0 auto;
     
   }

    
  }
   


@media (min-width: 700px) {

  .conte {
    width: 100%;
   
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 31%;
  }

  .section-popular h4{
   font-size: 19px;
  }
}

/* End Tips*/

/* Festival */

.fesii {
  color: #fff;
}

.festi {
  background: #fff;
  color:#558b2f;
}

/* End of festivals */

/* Culture section */

.culture {
  background: #4ddd4d;
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* end */

/* Corousol */

.carousel-inner,
.carousel-item {
  background-position: center;
  background-size: cover;
}

.first-slide,
.second-slide,
.third-slide {
  height: 90vh;
  background-position: center;
  background-size: cover;
}

/* end */

/* Review */

.review {
  color: #fff;
}

/* end */

/* Feature head section */

#feature-head-section {
  background: #eaeaea;
}

/* end */

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.6;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
}

.body-tips {
  background: #333;
  color: #fff;
}

/*split screen (wrapper)*/

#wrapper {
  position: relative;
  width: 100%;
  min-height: 35vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 35vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 35vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
  
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #558b2f
}

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #558b2f;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

@media (max-width: 768px) {
  body {
    font-size: 75%;
  }
}

.photo {
  font-weight: bold;
  font-size: 27px;
  color: #008ed6;
}

.social {
  text-align: center;
}

.social h4 {
  color: #008ed6;
}

.social .fas {
  font-size: 35px;
  color: #fdab00;
  text-align: center;
  text-transform: uppercase;
}

.navbar {
  border-bottom: #558b2f 2px solid;
  opacity: 0.8;
}

#iinner .green{
  background: springgreen;
}

#iinner {
  background: url('../img/png.png') no-repeat;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

#iinner .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 720px;
  
  width: 100%;


 
}

#iinner .home-inner {
  padding-top: 170px;
}

#iinner .card-form {
  opacity: 0.8;
}

.book .card-form {
  opacity: 0.8;
}

#iinner .fas {
  color: #008ed6;
  background: #33f15b;
  padding: 4px;
  border-radius: 5px;
  font-size: 25px;
}

#explore-head-section {
  background: #33f15b;
}

#explore-section .fas,
#share-section .fas {
  color: #fff;
  background: #33f15b;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

/* Sign up bar */

.color {
  background: #558b2f;
}
.colorid {
  background: #00a9cd;
}
.coloro{
  background: #fdab00;
  opacity: 0.2;
}

/* Slider */

body,
#slider,
.wrap,
.slider-content {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url('../img/slid1.jpeg');
}

.slide2 {
  background-image: url('../img/slid2.jpeg');
}

.slide3 {
  background-image: url('../img/slid.jpeg');
}

.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-content span {
  font-size: 2rem;
  color: #33f15b;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.8;
}

.arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #33f15b transparent transparent;
  left: 0;
  margin-left: 30px;
}

.arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent #33f15b;
  right: 0;
  margin-right: 30px;
}

/* end Slider */

/* Boxes */

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  background: #fff;
}

.size {
  font-size: 17px;
  color: #222;
}

.box {
  background: #eaeaea;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  width: 100%;
  display: block;
  height: auto;
}

.box h3 {
  color: #222;
}

.box p {
  color: #222;
}

.h11 {
  color: #666;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.h44 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

.boxe .fa {
  color: #33f15b;
  background: #33f15b;
}

/* End boxes */

.more {
  background: #666;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
}

.disp {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
  text-align: center;
  padding: 2em 1em 1em;
}




 img {
  display: block;
  width: 100%;
  height: auto;
}

.btm {
  display: inline-block;
  background: #558b2f;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  outline: 0;
  margin: 0.5em 0;
  width: 100%;
}

.btm:hover {
  background: #eaeaea;
  color: #333;
}

section.more a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
}

/* Contact and About Us */

.grido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background: url('../img/hotel12.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  width: 100%;
}

.grido:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--grido);
}

#section-d .boxi {
  padding: 2em;
  color: #fff;
  margin-top: 50px;
  z-index: 1;
  line-height: 1.6;
  font-size: 17px;
}

/* end contact and about us */

/* Main footer */

.footer {
  background: #fff;
  min-width: 15px;
  color: #333;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

/* Contact  button */

.btf {
  display: inline-block;
  background: #558b2f;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  margin: 0.5em 0;
}

.btf:hover {
  background: #eaeaea;
  color: #333;
}

/*End btn */

/* Media Query */

@media (max-width: 700px) {
  .boxi {
    grid-column: span 2;
  }
}

/* Split landinding page */

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(65, 236, 94, 0.7);
  --left-safa-hover-color: rgba(23, 170, 89, 0.3);
  --right-bg-color: rgba(86, 175, 235, 0.8);
  --right-safa-hover-color: rgba(201, 66, 48, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --grido: rgba(44, 49, 53, 0.8);
  --gridi: rgba(105, 137, 163, 0.8);
}

.h-one {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.split.left a {
  position: relative;

  height: 2.9rem;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
  width: 15rem;
}

.split.right a {
  position: relative;

  height: 2.9rem;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
  width: 15rem;
}

#mombasa .a {
  padding-top: 5000px;
}

.safa {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left a.safa:hover {
  background-color: var(--left-safa-hover-color);
  border-color: var(--left-safa-hover-color);
}

.split.right a.safa:hover {
  background-color: var(--right-safa-hover-color);
  border-color: var(--right-safa-hover-color);
}

.continer {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('../img/nairobi\ national\ park.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('../img/aboselipark.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media (max-width: 800px) {
  .h-one {
    font-size: 2rem;
  }
  .safa {
    width: 12rem;
  }
}

@media (max-height: 700px) {
  .safa {
    top: 70%;
  }
}

/* end split landing page */

/* Split Landing Hotel */

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(129, 145, 132, 0.7);
  --left-safa-hover-color: rgba(23, 170, 89, 0.3);
  --right-bg-color: rgba(77, 162, 165, 0.8);
  --right-safa-hover-color: rgba(201, 66, 48, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

.h-one {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.spli.left a {
  position: relative;

  height: 2.9rem;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
  width: 15rem;
}

.spli.right a {
  position: relative;

  height: 2.9rem;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
  width: 15rem;
}

.safa {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2.9rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.spli.left .safa:hover {
  background-color: var(--left-safa-hover-color);
  border-color: var(--left-safa-hover-color);
}

.spli.right .safa:hover {
  background-color: var(--right-safa-hover-color);
  border-color: var(--right-safa-hover-color);
}

.continer {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.spli {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.spli.left {
  left: 0;
  background: url('../img/coniteall.jpg') center center no-repeat;
  background-size: cover;
}

.spli.left:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.spli.right {
  right: 0;
  background: url('../img/hotel4.jpeg') center center no-repeat;
  background-size: cover;
}

.spli.right:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.spli.left,
.spli.right,
.spli.right:before,
.spli.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media (max-width: 800px) {
  .h-one {
    font-size: 2rem;
  }
  .safa {
    width: 12rem;
  }
}

@media (max-height: 700px) {
  .safa {
    top: 70%;
  }
}

/* End Split Hotel */

/* Colored cards */



#contacti {
  background: #71f07e;
  padding-top: 27px;
}

#coast {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
}

.gd {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
  text-align: center;
  padding: 2em 1em 1em;
}

/* End colored cards */

/* Mombasa head Section */

#mombasaa {
  background: #008ed6;
}

/* end */

/* Nairobi-head-section */

#nairobii {
  background: #fdab00;
}

/* end */

/* Contact Section */

.bucket {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background: #42ed52;
}

ul {
  list-style: none;
  padding: 0;
}

.brand span {
  color: #fff;
}

.brand {
  text-align: center;
}

.rapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.rapper > * {
  padding: 1em;
}

.company-info {
  background: #71f07e;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1em 0;
}

.contacti {
  background: #a8f0af;
}

.contactii form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Other contact section => safaris, hotels, destination and bookings */
.iinner {
    background: url('../img/png.png');
}


/* Contact Section */
.section-contact {
  position: relative;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../img/png.png') no-repeat;
}

@media (max-width: 600px) {
  .main-header {
    height: 50vh;
  }
}


/* End contant section */

/* Booking */

.booking {
  background: url('../img/j6.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bookingg {
  background: url('../img/hotel2.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bookng {
  background: url('../img/png.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.book {
  margin: 0;
  padding: 0;
}

/* end booking */

/* form styles */

.contacti form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.contacti form label {
  display: block;
}

.contacti form p {
  margin: 0;
}

.contacti form .full {
  grid-column: 1/3;
}

.contacti form button,
.contacti form input,
.contacti form textarea {
  width: 100%;
  padding: 1em;
  border: 1p solid #42ed52;
}

.contacti form button {
  background: #71f07e;
  border: none;
  text-transform: uppercase;
}

.contacti form button:hover,
contacti form buttob:focus {
  background: #42ed52;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* Large screen */

@media (min-width: 700px) {
  .rapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .rapper > * {
    padding: 2em;
  }
  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/* Stars Ratings */

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #33f15b;
}

/* Social Media */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'Genericons';
  src: url('../font/genericons-regular-webfont.woff') format('woff'),
    url('font/genericons-regular-webfont.eot') format('truetype');
}

.cotainer {
  margin: 50px auto;
  width: 90%;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordian {
  background: #333;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 solid 1px;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 1s ease-in-out 0.1s;
}

.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.tab:hover {
  width: 450px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  position: relative;
  padding: 50px 0 0 15px;
}

.tab .content h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4;
  padding-right: 30px;
}

/* Add Icons */

.social a:before,
.social a:after {
  width: 80px;
  transition: all 0.4s ease-in-out 0.1s;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.youtube a:before,
.youtube a:after {
  content: '\f213';
}

.youtube a:after {
  background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
  content: '\f202';
}

.twitter a:after {
  background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
  content: '\f204';
}

.facebook a:after {
  background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
  content: '\f208';
}

.linkedin a:after {
  background-color: #00a9cd;
}

.instargram a:before,
.instargram a:after {
  content: '\f215';
}

.instargram a:after {
  background-color: #6dc993;
}

.github a:before,
.github a:after {
  content: '\f200';
}

.github a:after {
  background-color: #6e5494;
}

/* Mediaquerys */

@media (max-width: 950px) {
  .cotainer {
    width: 70%;
  }
  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }
  .accordian {
    display: block;
    min-width: 450px;
    height: auto;
  }
  .tab .content {
    width: 85%;
  }
  .tab:hover {
    width: 100%;
  }
}

.cotainer h1 {
  color: #42ed52;
}

.cotainer p {
  color: #222;
  font-weight: bold;
}

/* Mediaquery for more Smaller screens */

@media (max-width: 680px) {
  .cotainer {
    width: 95%;
  }
  .accordian {
    width: 100%;
    min-width: 350px;
  }
  .tab .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .tab .content p {
    font-size: 12px;
  }
}

/* End of Social Media */
